name: Playwright POM Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
        
    - name: Run tests
      run: mvn clean test -B
      env:
        PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1